<h2> Welcome, <%= current_user.name%></h2>
<br>
<br>

<% if current_user.user_type === 'Admin' %>
  <h4><%= link_to "Real Estate Companies", realestate_show_path %></h4>
  <h4><%= link_to "Create Realtor/House Hunter", new_user_path %></h4>
<% end %>
<h4><%= link_to "Houses", house_show_path%></h4>
<% if current_user.user_type === 'Admin' %>
  <h4><%= link_to "Users", users_path %></h4>
<% end %>
  <h4><%= link_to "Inquiries", house_path %></h4>