<% if current_user == nil %>
<h1>Sign Up</h1>
<%else %>
  <h1>Create new House Hunter/Realtor</h1>
<%end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <b>Users</b><br />
    <%= f.radio_button :user_type, 'Realtor' %> Realtor<br />
    <%= f.radio_button :user_type, 'Realestate Hunter' %> House Hunter<br />

  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :preferred_contact %>
    <%= f.select :preferred_contact, %w[Text Email] %>
  </div>

  <div>
    <%= f.submit "Sign up!" %>
  </div>

<% end %>
