<h2>Real Estate Company and its details</h2>
<% @companies = Realestate.all %>
<table id="companies" role="datatable">
  <thead>
  <tr>
    <th>Company ID</th>
    <th>Name</th>
    <th>Website</th>
    <th>Address</th>
    <th>Size</th>
    <th>Found</th>
    <th>Revenue</th>
    <th>Synopsis</th>
  </tr>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
  <tr>
    <td>
      <%= company.id %>
    </td>
    <td>
      <%= company.name %>
    </td>
    <td>
      <%= company.website %>
    </td>
    <td>
      <%= company.address %>
    </td>
    <td>
      <%= company.size %>
    </td>
    <td>
      <%= company.founded %>
    </td>
    <td>
      <%= company.revenue %>
    </td>
    <td>
      <%= company.synopsis %>
    </td>
  </tr>
  <% end %>

<%render root_path%>

<%= link_to 'Back', user_menu_path, :class => 'button' %>