<% provide(:title, "Edit House") %>
<h1>Edit House Information</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :house do |f| %>

      </br>
      <%= f.label :realestateid %>
      <%= f.text_field :realestateid, class: 'form-control' %>
      </br>
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>
      </br>
      <%= f.label :squarefootage %>
      <%= f.text_field :squarefootage, class: 'form-control' %>

      </br>
      <%= f.label :year %>
      <%= f.text_field :year, class: 'form-control' %>
      </br>
      <%= f.label :style %>
      <%= f.text_field :style, class: 'form-control' %>

      </br>
      <%= f.label :list_price %>
      <%= f.text_field :list_price, class: 'form-control' %>

      </br>
      <%= f.label :floors %>
      <%= f.text_field :floors, class: 'form-control' %>

      </br>
      <%= f.label :basement %>
      <%= f.text_field :basement, class: 'form-control' %>

      </br>
      <%= f.label :currentowner %>
      <%= f.text_field :currentowner, class: 'form-control' %>

      </br>
      <%= f.label :contact %>
      <%= f.text_field :contact, class: 'form-control' %>

      </br>
      <%= f.label :potentialbuyers %>
      <%= f.text_field :potentialbuyers, class: 'form-control' %>
      </br>

      <%= f.submit "Save changes", class: "btn btn-primary" %>

      <%= link_to 'Back', house_show_path%>
    <% end %>
  </div>
</div>