<h1>Create House Information</h1>

<%= form_for :house do |f| %>
  <div>
    <%= f.label :id %>
    <%= f.text_field :id, autofocus: true %>
  </div>
  <div>
    <%= f.label :realestateid %>
    <%= f.text_field :realestateid %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :squarefootage %>
    <%= f.text_field :squarefootage %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </div>
  <div>
    <%= f.label :list_price %>
    <%= f.text_field :list_price %>
  </div>
  <div>
    <%= f.label :floors %>
    <%= f.text_field :floors %>
  </div>
  <div>
    <%= f.label :basement %>
    <%= f.text_field :basement %>
  </div>
  <div>
    <%= f.label :currentowner %>
    <%= f.text_field :currentowner %>
  </div>
  <div>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>
  <div>
    <%= f.label :potentialbuyers %>
    <%= f.text_field :potentialbuyers %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>