<h2>House Details</h2>

<% @house = House.all %>
<% if @house.any? %>
<table id="houses" role="datatable">
  <thead>
    <tr>
      <th>Location</th>
      <th>Square Footage</th>
      <th>Year</th>
      <th>Style</th>
      <th>List Price</th>
      <th>Floors</th>
      <th>Basement</th>
      <th>Current Owner</th>
      <th>Contact</th>
      <th>Potential Buyers</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
  <% @house.each do |house| %>
    <tr>

      <td>
        <%= house.location %>
      </td>

      <td>
        <%= house.squarefootage %>
      </td>

      <td>
        <%= house.year %>
      </td>

      <td>
        <%= house.style %>
      </td>

      <td>
        <%= house.list_price %>
      </td>

      <td>
        <%= house.floors %>
      </td>

      <td>
        <%= house.basement %>
      </td>

      <td>
        <%= house.currentowner %>
      </td>

      <td>
        <%= house.contact %>
      </td>
      <% if current_user.user_type != "Realestate Hunter" %>
      <td>
        <%= house.potentialbuyers %>
      </td>
      <%end %>
      <td>
        <%= image_tag house.image_url.to_s%>
      </td>
      <!--
     <% if current_user.user_type == "Realestate Hunter" %>
        <td>
          <%= link_to "Interested", house_interested_path(house.id) %>
        </td>
      <% end %>
      <% if current_user.user_type == 'Realtor' %>
      <% if current_user.id == house.creatorid %>
      <td>
        <%= link_to "Edit", house_edit_path(house.id) %>
      </td>
      <td>
        <%= link_to "Delete",house_destroy_path(house.id) %>
      </td>
      <%end %>
        <%elsif current_user.user_type == 'Admin' %>
        <td>
          <%= link_to "Edit", house_edit_path(house.id) %>
        </td>
        <td>
          <%= link_to "Delete",house_destroy_path(house.id) %>
        </td>
    </tr>

        <%end %>
  -->
  <% end %>
  </tbody>
</table>
  <% end %>
<% if current_user.user_type != 'Realestate Hunter' %>
<%= link_to "Create house", house_path %>
  <%end %>


<%= link_to 'Back', user_menu_path, :class => 'button' %>