<h2>House details</h2>
<% @house = House.all %>
<table id="houses" role="datatable">
  <thead>
    <tr>
      <th>House ID</th>
      <th>Location</th>
      <th>Square Footage</th>
      <th>Year</th>
      <th>Style</th>
      <th>List Price</th>
      <th>Floors</th>
      <th>Basement</th>
      <th>Current Owner</th>
      <th>Contact</th>
      <th>Potential Buyers</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
  <% @house.each do |house| %>
    <tr>
      <td>
        <%= house.id %>
      </td>

      <td>
        <%= house.location %>
      </td>

      <td>
        <%= house.squarefootage %>
      </td>

      <td>
        <%= house.year %>
      </td>

      <td>
        <%= house.style %>
      </td>

      <td>
        <%= house.list_price %>
      </td>

      <td>
        <%= house.floors %>
      </td>

      <td>
        <%= house.basement %>
      </td>

      <td>
        <%= house.currentowner %>
      </td>

      <td>
        <%= house.contact %>
      </td>

      <td>
        <%= house.potentialbuyers %>
      </td>

      <td>
        <%= image_tag house.image_url.to_s%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Back', root_path, :class => 'button' %>